<h1 mat-dialog-title>V1CE COMPATIBILITY LIST </h1>
<h5 class="subtitleModal">No app required for V1CE to work.</h5>
<mat-dialog-content class="mat-typography">


  <div class="row pt-5">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h4>Apple</h4>
      <p>
        All phones since 2017 including:<br>
        Iphone 8 Series<br>
        Iphone X Series<br>
        Iphone 11 Series<br>
        Iphone 12 Series<br>
        Iphone SE (2020)
      </p>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h4>Google</h4>
      <p>
        All phones since 2015 including: <br>
        Pixel Series<br>
        Nexus Series
      </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h4>LG</h4>
      <p>
        All Phones Since 2014 including: <br>
        Q Series<br>
        G Series<br>
        V Series
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h4>Samsung</h4>
      <p>
        All phones since 2014 including: <br>
        S Series<br>
        A Series
      </p>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h4>Huawei
      </h4>
      <p>
        All phones since 2016 including: <br>
        P Series
      </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h4>Nokia</h4>
      <p>
        9 Pureview <br>
        8, 8 Sirocco, <br>
        6, 7 Plus<br>
        3, 5, 5.1
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h4>OnePlus</h4>
      <p>
        All phones since 2015 including: <br>
        3 Series, 5 Series<br>
        6 Series, 7 Series<br>
        8 Series
      </p>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h4>HTC

      </h4>
      <p>
        All phones since 2015.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">

    </div>
  </div>





</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>

</mat-dialog-actions>
