<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 contents">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="mb-4">
              <h3> <strong>S'inscrire</strong></h3>
              <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
            </div>

            <form action="#" method="post">
              <div class="row">
                <div class="form-group first col-lg-6 col-sm-6 col-md-12">
                  <label for="nom">Nom</label>
                  <input type="text" class="form-control" id="nom">
                </div>
                <div class="form-group first col-lg-6 col-sm-6 col-md-12">
                  <label for="prenom">Prénom</label>
                  <input type="text" class="form-control" id="prenom">
                </div>
              </div>

              <div class="row">
                <div class="form-group first col-lg-6 col-sm-6 col-md-12">
                  <label for="nom">Email</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group first col-lg-6 col-sm-6 col-md-12">
                  <label for="entreprise">Entreprise</label>
                  <input type="text" class="form-control" id="entreprise">
                </div>
              </div>


              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
              <input type="submit col-lg-6 col-sm-6 col-md-16" value="Se connecter"
                class="btn text-white btn-block btn-primary bg-black">
              <span class="d-block text-left my-4 text-muted"> Ou s'inscrire avec</span>
              <div class="social-login">
                <a href="#" class="facebook">
                  <span class="icon-facebook mr-3"></span>
                </a>
                <a href="#" class="twitter">
                  <span class="icon-twitter mr-3"></span>
                </a>
                <a href="#" class="google">
                  <span class="icon-google mr-3"></span>
                </a>
                <a href="#" class="linkedin">
                  <span class="icon-linkedin mr-3"></span>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
