
<div class="sectionBanner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mr-0">
          <video class="ml-auto img-fluid lazyloaded" width="600" height="600" autoplay="" playsinline="" loop=""
            muted="" preload="auto"
            src="assets/UD_CARD.mp4">
          </video>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contentWrappper">
          <div class="reviewWrapper d-flex flex-row">
            <ul class="starList list-unstyled d-flex align-items-center">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
            </ul>
            <p class="reviewText">
              3750+ reviews
            </p>
          </div>
          <h1 class="bannerTitle">
            La carte de visite qui dure !
          </h1>
          <p class="bannerSubTitle">
            <img data-src="https://ucarecdn.com/e8cfdb34-8c6b-490d-b8c1-c3b37ee997dc/" class="share-info-gif lazyloaded"
              src="assets/PLATEFORME.gif">
          </p>
          <p style="display:none !important;">
            Share your
            <a href="" class="typewrite" data-period="2000"
              data-type="[ &quot;Facebook&quot;, &quot;Twitter&quot;, &quot;Website&quot;, &quot;Emails&quot;, &quot;And More&quot; ]"><span
                class="wrap">And More</span></a>
          </p>
          <p></p>
          <p class="bannerText">
            Les cartes de visite V1CE sont équipées de la technologie NFC intégrée, qui vous permet de transmettre vos coordonnées, vos informations sociales et bien plus dans n’importe quel smartphone sans application.

          </p>
          <div class="btnWrapper">
            <a href="https://v1ce.co/collections/cards" class="custom-btn scrollTo nonStickyBtn">
              Crée ta carte tout de site <i class="fas fa-arrow-right"></i>
            </a>
            <a href="https://cdn.shopify.com/s/files/1/0263/6156/1168/files/3993._haydnprice_04_1.mp4?v=1612873000"
              class="fancybox playIcon">
              <img src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-playIcon.jpg?v=1483061365205417351"
                class="img-fluid" alt="Play Icon"> Voir la video
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="shopify-section-lpg-theme-07-whyus" class="shopify-section">
  <!-- why us section start -->
  <section class="sectionWhyUs">
    <div class="container largeContainer">
      <h2 class="sectionTitle text-center">
        La première carte de visite digitale au Sénégal !
      </h2>
      <h4 class="sectionSubtitle text-center">
        Commandez votre carte en quelques clics
      </h4>
      <div class="rowWrapper">
        <div class="row">

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img class="img-fluid ls-is-cached lazyloaded" alt="Image"
                  src="assets/1.jpg">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
                Ayez confiance en savoir que n’importe quel cadre d’affaires ou social - votre carte de visite est tout aussi rapide que vous êtes, changement entre les profils en temps réel.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img class="img-fluid ls-is-cached lazyloaded" alt="Image"
                src="assets/2.jpg">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
                V1CE utilise NFC qui vous permet de partager bien plus que vos coordonnées. Avec plus de 30 actions différentes, y compris les poignées de médias sociaux, les sites Web, les détails de paiement et les adresses.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">

                <img class="img-fluid ls-is-cached lazyloaded" alt="Image"
                src="assets/3.jpg">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
                Économisez du temps et de l’argent en n’ayant pas à acheter plus de cartes de visite chaque fois que vos détails changent. Changez simplement vos détails dans les 5 secondes.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img class="img-fluid ls-is-cached lazyloaded" alt="Image"
                src="assets/4.jpg">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
                Ne vous contentez pas de vous fondre dans le réseau, de vous démarquer et de faire une bonne première impression. Convertissez d’autres demandes de renseignements en sauvegardant vos renseignements dans un endroit où les gens passent la plupart de leur temps... leur téléphone!
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img data-src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg5_900x.jpg?v=1603950418"
                  class="img-fluid lazyloaded" alt="Image"
                  src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg5_900x.jpg?v=1603950418">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto quod autem ullam amet, aliquam odit, exercitationem sapiente numquam quis quam et eum, earum fuga! Consequatur quam voluptatem doloremque nisi quos!
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img data-src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg6_900x.jpg?v=1603950417"
                  class="img-fluid lazyloaded" alt="Image"
                  src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg6_900x.jpg?v=1603950417">
              </div>
              <h4 class="title">
               Lorem
              </h4>
              <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, exercitationem ducimus corporis delectus nemo provident. Consequatur sed ipsum amet odio illo obcaecati quod consequuntur! Nostrum atque necessitatibus quos quasi possimus.
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="btnWrapper d-flex align-items-center justify-content-center">
        <a href="https://v1ce.co/collections/cards" class="custom-btn scrollTo nonStickyBtn">
          DESIGN YOUR OWN CARD <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- why us section end -->
</div>
