.sectionBanner .contentWrappper .bannerTitle {
  font-family: "Odudo Bold";
  font-weight: 700;
  text-transform: uppercase;
  max-width: 595 px;
  font-size: 67px;
  line-height: 75px;
  color: #fff;
}

.sectionBanner {
  background-color: #000;
  padding: 0 0 60px;
}

.sectionBanner .contentWrappper {
  color: #fff;
  padding: 100px 0 0 !important;
}

.share-info-gif {
  max-width: 350px;
}

.sectionBanner .contentWrappper .bannerText {
  max-width: 500px;
  margin: 20px 0 30px;
  font-size: 16px;
  line-height: 24px;
}

.sectionBanner .contentWrappper .reviewWrapper .reviewText {
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

.custom-btn {
  background-color: #f7bc44;
  color: #000;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -o-max-content;
  width: -ms-max-content;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 6px;
  line-height: normal;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 22px 38px 25px 40px;
  text-decoration: none;
}

.custom-btn:active, .custom-btn:focus, .custom-btn:hover, button:active, button:focus, button:hover {
  outline: 0;
  opacity: 1;
}

a:active, a:focus, a:hover {
  text-decoration: none;
  color: #fff;
}

.sectionBanner .contentWrappper .btnWrapper .playIcon img {
  margin-right: 15px;
  max-width: 15px;
}

.sectionBanner .contentWrappper .btnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sectionBanner .contentWrappper .btnWrapper .playIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px !important;
  margin-left: 40px;
}

.sectionWhyUs {
  background-color: #fff;
  padding: 70px 0 90px;
}

.sectionTitle {
  font-family: "Odudo Bold";
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 46px;
  line-height: 50px;
}

.sectionSubtitle {
  color: #f7bc44;
  font-family: "Odudo Semi Bold";
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

.sectionWhyUs .sectionSubtitle {
  margin: 25px auto 0;
  max-width: 720px;
}

.sectionWhyUs .rowWrapper .contentWrapper .title {
  font-family: "Odudo Semi Bold";
  font-weight: 600;
  font-size: 21px;
  margin: 30px 0 25px;
}

.sectionWhyUs .rowWrapper .contentWrapper .text {
  margin: 0 auto;
  font-size: 14px;
  max-width: 323px;
  line-height: 1.5;
}

.sectionWhyUs .rowWrapper .contentWrapper {
  text-align: center;
  margin: 0 0 60px;
}
