
<div class="sectionBanner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mr-0">
          <video class="ml-auto img-fluid lazyloaded" width="600" height="600" autoplay="" playsinline="" loop=""
            muted="" preload="auto"
            src="https://cdn.shopify.com/s/files/1/0263/6156/1168/files/v1ceee.mp4?v=1614635524">
          </video>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contentWrappper">
          <div class="reviewWrapper d-flex flex-row">
            <ul class="starList list-unstyled d-flex align-items-center">
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
              <li><i class="material-icons">star</i></li>
            </ul>
            <p class="reviewText">
              3750+ reviews
            </p>
          </div>
          <h1 class="bannerTitle">
            La carte de visite qui dure !
          </h1>
          <p class="bannerSubTitle">
            <img data-src="https://ucarecdn.com/e8cfdb34-8c6b-490d-b8c1-c3b37ee997dc/" class="share-info-gif lazyloaded"
              src="https://ucarecdn.com/e8cfdb34-8c6b-490d-b8c1-c3b37ee997dc/">
          </p>
          <p style="display:none !important;">
            Share your
            <a href="" class="typewrite" data-period="2000"
              data-type="[ &quot;Facebook&quot;, &quot;Twitter&quot;, &quot;Website&quot;, &quot;Emails&quot;, &quot;And More&quot; ]"><span
                class="wrap">And More</span></a>
          </p>
          <p></p>
          <p class="bannerText">
            V1CE business cards come with integrated NFC technology, which enables you to transmit your contact details,
            socials &amp; so much more into any smartphone with no app needed.
          </p>
          <div class="btnWrapper">
            <a href="https://v1ce.co/collections/cards" class="custom-btn scrollTo nonStickyBtn">
              DESIGN YOUR OWN CARD <i class="fas fa-arrow-right"></i>
            </a>
            <a href="https://cdn.shopify.com/s/files/1/0263/6156/1168/files/3993._haydnprice_04_1.mp4?v=1612873000"
              class="fancybox playIcon">
              <img src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-playIcon.jpg?v=1483061365205417351"
                class="img-fluid" alt="Play Icon"> watch video
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="shopify-section-lpg-theme-07-whyus" class="shopify-section">
  <!-- why us section start -->
  <section class="sectionWhyUs">
    <div class="container largeContainer">
      <h2 class="sectionTitle text-center">
        A business card that's unlike any other
      </h2>
      <h4 class="sectionSubtitle text-center">
        V1CE is pulling the humble business card straight into the 21st century.
      </h4>
      <div class="rowWrapper">
        <div class="row">

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img
                  data-src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/Artboard_1_copy_2_b7634757-a772-47b5-a88c-bb0ad9f61053_900x.png?v=1606148051"
                  class="img-fluid ls-is-cached lazyloaded" alt="Image"
                  src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/Artboard_1_copy_2_b7634757-a772-47b5-a88c-bb0ad9f61053_900x.png?v=1606148051">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas dolores rem ex ullam consequatur quam officia delectus harum quisquam eum a inventore repudiandae aliquam nostrum officiis tenetur quaerat, nulla in.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img data-src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg2_900x.jpg?v=1603950416"
                  class="img-fluid ls-is-cached lazyloaded" alt="Image"
                  src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg2_900x.jpg?v=1603950416">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat velit quidem illum similique, facere expedita. Consequuntur asperiores, doloremque vero unde rem optio et distinctio quod odio quia assumenda minus molestias?
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img
                  data-src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/Artboard_1_b2c57f4b-9cbc-4371-aa14-a802946729b8_900x.png?v=1606148098"
                  class="img-fluid ls-is-cached lazyloaded" alt="Image"
                  src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/Artboard_1_b2c57f4b-9cbc-4371-aa14-a802946729b8_900x.png?v=1606148098">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis eaque minima voluptatum quae omnis repudiandae tenetur libero consequuntur, fugiat ut obcaecati asperiores, ex quasi atque iste soluta beatae blanditiis quos.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img data-src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg4_900x.jpg?v=1603950418"
                  class="img-fluid lazyloaded" alt="Image"
                  src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg4_900x.jpg?v=1603950418">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam unde voluptates obcaecati nobis porro eos voluptas facere, suscipit fugiat reprehenderit et officia labore rem pariatur ad consequuntur adipisci necessitatibus ipsam!
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img data-src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg5_900x.jpg?v=1603950418"
                  class="img-fluid lazyloaded" alt="Image"
                  src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg5_900x.jpg?v=1603950418">
              </div>
              <h4 class="title">
                Lorem
              </h4>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto quod autem ullam amet, aliquam odit, exercitationem sapiente numquam quis quam et eum, earum fuga! Consequatur quam voluptatem doloremque nisi quos!
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="contentWrapper">
              <div class="imgWrapper 2">
                <img data-src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg6_900x.jpg?v=1603950417"
                  class="img-fluid lazyloaded" alt="Image"
                  src="//cdn.shopify.com/s/files/1/0263/6156/1168/files/lpg-whyUsImg6_900x.jpg?v=1603950417">
              </div>
              <h4 class="title">
               Lorem
              </h4>
              <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, exercitationem ducimus corporis delectus nemo provident. Consequatur sed ipsum amet odio illo obcaecati quod consequuntur! Nostrum atque necessitatibus quos quasi possimus.
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="btnWrapper d-flex align-items-center justify-content-center">
        <a href="https://v1ce.co/collections/cards" class="custom-btn scrollTo nonStickyBtn">
          DESIGN YOUR OWN CARD <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- why us section end -->
</div>
